
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-class">
    <form id="mainform" class="form-class base-form" name="mainForm">
        <input type="text" name="taskName" class="class-input" placeholder="Please input task name" required/><br />
        <input type="text" name="taskData" class="class-input" placeholder="Please input task data" required/><br />
        <button id="button-submit" type="submit">Add</button>
    </form>
</div>

<div class="class-tasks">
    <ul class="class-ul">
    </ul>
</div>