
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button id="show-window" type="button">Show window</button>

<div class="modalWrap hide">
    <div class="modalWindow hide">
        <button id="close-window">Close window</button>
    </div>
</div>