ul.class-ul
{
    list-style:none;
}

li.c-task
{
    border-bottom:solid;
    border-width:2px;
    width:33.3%;
}

div.c-id {
    font: 30px;
    font-weight: bolder;
    color: blueviolet;
    font-family: Arial;
}

div.c-taskname
{
    font: 20px;
    color: crimson;
    font-family: 'Book Antiqua';
    font-weight: bold;
    border-bottom:solid;
    border-width:0.5px;
    border-color:cadetblue;
}